<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Submit Your Quotation</h2>
                <span>Get e-mail updates about our latest shops and special offersJust type and submit your
                    quotation below and we'll contact you as soon as possible.</span>
            </div>
        </div>
        <div class="row block-9 justify-content-center">
            <div class="col-md-6 order-md-last">
                <form action="/contact" method="POST" class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <input required type="text" id="name" name="name" class="form-control" placeholder="Your Name"
                            value="">
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Your Email"
                            value="">
                    </div>
                    <div class="form-group">
                        <input required type="number" id="phone" name="phone" class="form-control"
                            placeholder="Phone Number" value="">
                    </div>
                    <div class="form-group">
                        <textarea name="quote" id="quote" cols="30" rows="7" class="form-control"
                            placeholder="Quote"></textarea>
                    </div>
  
                   
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                </form>
            </div>
        </div>
    </div>
</section>