<section>
    <div>
        <ul class="gallery-slideshow">
                <li><img src="4 watty-consumer-unit- crabttree.png"/></li>
                <li><img src="4.0-Single-Cable.png"/></li>
                <li><img src="4.0-Twin-with-Earth.png"/></li>
                <li><img src="6.0Tearthwire.png"/></li>
                <li><img src="20Wchokes.png"/></li>
                <li><img src="20Wfloodlights.png"/></li>
                <li><img src="30Wfloodlights.png"/></li>
                <li><img src="40Wchokes.png"/></li>
                <li><img src="50W-floodlights.png"/></li>
                <li><img src="60-single-cable.png"/></li>
                <li><img src="60W-chokes.png"/></li>
                <li><img src="100A-changeover-switch.png"/></li>
                ...
              </ul>
              </div>
</section>

