<section class="ftco-section">
				<div class="container">
								<div class="row justify-content-center mb-3 pb-3">
								<div class="col-md-12 heading-section text-center ftco-animate">
								<span class="subheading">Featured Products</span>
							<h2 class="mb-4">Our Products</h2>
								<p>Quality elactrical equipment</p>
						</div>
								</div>
				</div>
				<div class="container">
					<div class="row">
			<div class="col-md-8 col-lg-4 ftco-animate">
					<div class="product">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/circuit breaker.png"
																	alt="kadianga electrical products">
													<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">circuit breaker</a></h3>
			
									</div>
					</div>
			</div>
			<div class="col-md-8 col-lg-4 ftco-animate">
					<div class="product">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.jpg"
																	alt="kadianga electrical products">
													<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">Twin cable</a></h3>
			
									</div>
					</div>
			</div>
			
			
			<div class="col-md-8 col-lg-4 ftco-animate">
					<div class="product">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/B.C-holder-UK.png"
																	alt="kadianga electrical products">
													<!-- <span class="status">10%</span> -->
													<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">B.C-holder-UK</a></h3>
			
									</div>
					</div>
			</div>
			
			</div>
				
				<div class="container">
					<div class="row">
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/B.C-holder-Straight-UK.png"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">B.C-holder-Straight-UK</a></h3>
											</div>
									</div>
							</div>
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/astra-extension.png"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">Astra-extension</a></h3>
											</div>
									</div>
							</div>

							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/B.C-holder-C-or-G-Complete.png"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">B.C-holder-C-or-G-Complete</a></h3>

													</div>

											</div>
									</div>
							</div>
							<div class="container">
								<div class="row">
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/ligth3.jpeg"
																		alt="kadianga electrical products">
																
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">wall light</a></h3>
														</div>
												</div>
										</div>
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/ligth7.jpeg"
																		alt="kadianga electrical products">
																
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">wall bulb holder</a></h3>
														</div>
												</div>
										</div>
			
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/intelligentbulb.jpeg"
																		alt="kadianga electrical products">
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">intelligentbulb</a></h3>
			
																</div>
			
														</div>
												</div>
										</div>

											
									<div class="container">
										<div class="row">
						<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/light1.jpeg"
alt="kadianga electrical products">
																		<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">powermax gauge</a></h3>
														</div>
										</div>
						</div>

						<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/insulationtape.jpeg"
																						alt="kadianga electrical products">
																		<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																		<h3><a href="#">insulatio tape</a></h3>

														</div>
										</div>
						</div>
						<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/cookersocket.jpeg"
																						alt="kadianga electrical products">
						<div class="overlay"></div>
			</a>
							<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">cooker socket</a></h3>

					</div>
				</div>

	</div>
</div>
<div class="container">
					<div class="row">
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/splittingswitch.jpeg"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">splitting switch</a></h3>
											</div>
									</div>
							</div>
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/singlepatressbox.jpeg"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">single patress box</a></h3>
											</div>
									</div>
							</div>

							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/12WayD.Board.jpeg"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">B12 W ay D.Board</a></h3>

													</div>

											</div>
									</div>
							</div>
							<div class="container">
								<div class="row">
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/20mmbend.jpeg"
																		alt="kadianga electrical products">
																
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">20mm bend</a></h3>
														</div>
												</div>
										</div>
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/4wayconsumermax.jpeg"
																		alt="kadianga electrical products">
																
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">4 way consumer max</a></h3>
														</div>
												</div>
										</div>
			
										<div class="col-md-8 col-lg-4 ftco-animate">
												<div class="product">
														<a href="#" class="img-prod"><img class="img-fluid" src="images/twinmk.jpeg"
																		alt="kadianga electrical products">
																<div class="overlay"></div>
														</a>
														<div class="text py-3 pb-4 px-3 text-center">
																<h3><a href="#">twin mk</a></h3>
			
																</div>
			
														</div>
												</div>
										</div>
	<div class="container">
<div class="row">
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/63AChangeoverSwitcher.jpeg"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">63A ChangeoverSwitcher</a></h3>
											</div>
									</div>
							</div>
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/alvanized.jpeg"
															alt="kadianga electrical products">
													
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">alvanized</a></h3>
											</div>
									</div>
							</div>

							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/20mmsandle.jpeg"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">20mm sandle</a></h3>

													</div>

											</div>
									</div>
							</div>
							<div class="container">
							<div class="row">
								<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
												<a href="#" class="img-prod"><img class="img-fluid" src="images/bulkheadfitting.jpeg"
																alt="kadianga electrical products">
														
														<div class="overlay"></div>
												</a>
												<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#">bulkhead fitting</a></h3>
												</div>
										</div>
								</div>
								<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
												<a href="#" class="img-prod"><img class="img-fluid" src="images/bulbfitting.jpeg"
																alt="kadianga electrical products">
														
														<div class="overlay"></div>
												</a>
												<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#">bulb fitting</a></h3>
												</div>
										</div>
								</div>
	
								<div class="col-md-8 col-lg-4 ftco-animate">
										<div class="product">
												<a href="#" class="img-prod"><img class="img-fluid" src="images/angleheadcg.jpeg"
																alt="kadianga electrical products">
														<div class="overlay"></div>
												</a>
												<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#">Anglehead c/g</a></h3>
	
														</div>
	
												</div>
										</div>
								</div>
<div class="container">
<div class="row">
	<div class="col-md-8 col-lg-4 ftco-animate">
			<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight3.jpeg"
									alt="kadianga electrical products">
							
							<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">ceilinglight</a></h3>
					</div>
			</div>
	</div>
	<div class="col-md-8 col-lg-4 ftco-animate">
			<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight2.jpeg"
									alt="kadianga electrical products">
							
							<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">ceilinglight</a></h3>
					</div>
			</div>
	</div>

	<div class="col-md-8 col-lg-4 ftco-animate">
			<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight.jpeg"
									alt="kadianga electrical products">
							<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">ceilinglight</a></h3>

							</div>

					</div>
			</div>
	</div>

								<div class="container">
									<div class="row">
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/Inverters.jpg"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">Inverters</a></h3>
											</div>
									</div>
							</div>

							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/Flexible-cables.png"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">Flexible-cables</a></h3>

											</div>
									</div>
							</div>
							<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
											<a href="#" class="img-prod"><img class="img-fluid" src="images/connection wire.png"
															alt="kadianga electrical products">
													<div class="overlay"></div>
											</a>
											<div class="text py-3 pb-4 px-3 text-center">
													<h3><a href="#">connection wire</a></h3>

												</div>
											</div>

											</div>
									</div>

												<div class="container">
																<div class="row">
												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/20Wfloodlights.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">20Wfloodlights</a></h3>
																				</div>
																</div>
												</div>

												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/30Wfloodlights.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">30Wfloodlights</a></h3>

																				</div>
																</div>
												</div>
												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/40Wchokes.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">40W chokes</a></h3>


											</div>
										</div>
										</div>
										</div>
															
												<div class="container">
																<div class="row">
												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/product-6.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">Dual Socket</a></h3>
																				</div>
																</div>
												</div>

												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/product-7.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">Gang Switch</a></h3>

																				</div>
																</div>
												</div>
												<div class="col-md-8 col-lg-4 ftco-animate">
																<div class="product">
																				<a href="#" class="img-prod"><img class="img-fluid" src="images/20Wchokes.png"
																												alt="kadianga electrical products">
																								<div class="overlay"></div>
																				</a>
																				<div class="text py-3 pb-4 px-3 text-center">
																								<h3><a href="#">20W Chokes</a></h3>
			</div>

	</div>
</div>
	</div>


</section>
<section class="ftco-section">
	<div class="container">
		<div class="row">
<div class="col-md-8 col-lg-4 ftco-animate">
		<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="images/50W-floodlights.png"
alt="kadianga electrical products">
										<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">20Wfloodlights</a></h3>
						</div>
		</div>
</div>

<div class="col-md-8 col-lg-4 ftco-animate">
		<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="images/30Wfloodlights.png"
														alt="kadianga electrical products">
										<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">50W-floodlights</a></h3>

						</div>
		</div>
</div>
<div class="col-md-8 col-lg-4 ftco-animate">
		<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="images/60-single-cable.png"
														alt="kadianga electrical products">
<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">60-single-cable</a></h3>

</div>
</div>

</div>
</div>
<div class="container">
	<div class="row">
					<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
													<a href="#" class="img-prod"><img class="img-fluid" src="images/1.5-Flexible-Cable.png"
																					alt="kadianga electrical products">
																	
																	<div class="overlay"></div>
													</a>
													<div class="text py-3 pb-4 px-3 text-center">
																	<h3><a href="#">1.5-Flexible-Cable</a></h3>
													</div>
									</div>
					</div>
					<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
													<a href="#" class="img-prod"><img class="img-fluid" src="images/2.5-T-Earth.png"
																					alt="kadianga electrical products">
																	
																	<div class="overlay"></div>
													</a>
													<div class="text py-3 pb-4 px-3 text-center">
																	<h3><a href="#">2.5-T-Earth</a></h3>
													</div>
									</div>
					</div>

					<div class="col-md-8 col-lg-4 ftco-animate">
									<div class="product">
													<a href="#" class="img-prod"><img class="img-fluid" src="images/4.0-Single-Cable.png"
																					alt="kadianga electrical products">
																	<div class="overlay"></div>
													</a>
													<div class="text py-3 pb-4 px-3 text-center">
																	<h3><a href="#">4.0-Single-Cable</a></h3>

																	</div>

													</div>
									</div>
					</div>

					<div class="container">
						<div class="row">
		<div class="col-md-8 col-lg-4 ftco-animate">
						<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="images/product-12.png"
																		alt="kadianga electrical products">
														<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#">Lamp-stand</a></h3>
										</div>
						</div>
		</div>

		<div class="col-md-8 col-lg-4 ftco-animate">
						<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="images/product-11.jpg"
alt="kadianga electrical products">
														<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#"></a></h3>

										</div>
						</div>
		</div>
		<div class="col-md-8 col-lg-4 ftco-animate">
						<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="images/product-10.jpg"
																		alt="kadianga electrical products">
														<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3 text-center">
														<h3><a href="#"></a></h3>

</div>
</div>

										</div>
						</div>

					<div class="container">
									<div class="row">
													<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																					<a href="#" class="img-prod"><img class="img-fluid" src="images/4.0-Twin-with-Earth.png"
																													alt="kadianga electrical products">
																									
																									<div class="overlay"></div>
																					</a>
																					<div class="text py-3 pb-4 px-3 text-center">
																									<h3><a href="#">4.0 Twin-with-Earth</a></h3>
																					</div>
																	</div>
													</div>
													<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																					<a href="#" class="img-prod"><img class="img-fluid" src="images/astra-extension.png"
																													alt="kadianga electrical products">
																									
																									<div class="overlay"></div>
																					</a>
																					<div class="text py-3 pb-4 px-3 text-center">
																									<h3><a href="#">Astra-extension</a></h3>
																					</div>
																	</div>
													</div>

													<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																					<a href="#" class="img-prod"><img class="img-fluid" src="images/6 way D board.png"
																													alt="kadianga electrical products">
																									<div class="overlay"></div>
																					</a>
																					<div class="text py-3 pb-4 px-3 text-center">
																									<h3><a href="#">6 way D board</a></h3>

																									</div>

																					</div>
																	</div>
													</div>
													<div class="container">
														<div class="row">
															<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																			<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight3.jpeg"
																							alt="kadianga electrical products">
																					
																					<div class="overlay"></div>
																			</a>
																			<div class="text py-3 pb-4 px-3 text-center">
																					<h3><a href="#">ceiling light</a></h3>
																			</div>
																	</div>
															</div>
															<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																			<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight2.jpeg"
																							alt="kadianga electrical products">
																					
																					<div class="overlay"></div>
																			</a>
																			<div class="text py-3 pb-4 px-3 text-center">
																					<h3><a href="#">ceilinglight</a></h3>
																			</div>
																	</div>
															</div>
														
															<div class="col-md-8 col-lg-4 ftco-animate">
																	<div class="product">
																			<a href="#" class="img-prod"><img class="img-fluid" src="images/ceilinglight.jpeg"
																							alt="kadianga electrical products">
																					<div class="overlay"></div>
																			</a>
																			<div class="text py-3 pb-4 px-3 text-center">
																					<h3><a href="#">ceilinglight</a></h3>
														
																					</div>
														
																			</div>
																	</div>
															</div>
														
																						<div class="container">
																							<div class="row">
																					<div class="col-md-8 col-lg-4 ftco-animate">
																							<div class="product">
																									<a href="#" class="img-prod"><img class="img-fluid" src="images/Inverters.jpg"
																													alt="kadianga electrical products">
																											<div class="overlay"></div>
																									</a>
																									<div class="text py-3 pb-4 px-3 text-center">
																											<h3><a href="#">Inverters</a></h3>
																									</div>
																							</div>
																					</div>
														
																					<div class="col-md-8 col-lg-4 ftco-animate">
																							<div class="product">
																									<a href="#" class="img-prod"><img class="img-fluid" src="images/Flexible-cables.png"
																													alt="kadianga electrical products">
																											<div class="overlay"></div>
																									</a>
																									<div class="text py-3 pb-4 px-3 text-center">
																											<h3><a href="#">Flexible-cables</a></h3>
														
																									</div>
																							</div>
																					</div>
																					<div class="col-md-8 col-lg-4 ftco-animate">
																							<div class="product">
																									<a href="#" class="img-prod"><img class="img-fluid" src="images/connection wire.png"
																													alt="kadianga electrical products">
																											<div class="overlay"></div>
																									</a>
																									<div class="text py-3 pb-4 px-3 text-center">
																											<h3><a href="#">connection wire</a></h3>
														
																										</div>
																									</div>
														
																									</div>
																							</div>
														
<div class="container">
	<div class="row">
<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/circuit breaker.png"
													alt="kadianga electrical products">
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">circuit breaker</a></h3>

					</div>
	</div>
</div>
<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.jpg"
													alt="kadianga electrical products">
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Twin cable</a></h3>

					</div>
	</div>
</div>


<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/B.C-holder-UK.png"
													alt="kadianga electrical products">
									<!-- <span class="status">10%</span> -->
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">B.C-holder-UK</a></h3>

					</div>
	</div>
</div>

</div>
<div class="container">
	<div class="row">
<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/100-singl-cable.png"
													alt="kadianga electrical products">
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">100-single-cable</a></h3>
					</div>
	</div>
</div>

<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/100A-changeover-switch.png"
alt="kadianga electrical products">
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">100A-changeover-switch</a></h3>

					</div>
	</div>
</div>
<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="images/100w-floodinglight-led.png"
													alt="kadianga electrical products">
									<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">100w-floodinglight-led</a></h3>

</div>
</div>

					</div>
	</div>


<div class="container">
<div class="row">
<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/pipe-fitting.png"
alt="kadianga electrical products">

<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">Junction box</a></h3>
</div>
</div>
</div>
<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/4 watty-consumer-unit- crabttree.png"
		alt="kadianga electrical products">

<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">4 watty-consumer-unit- crabttree</a></h3>
</div>
</div>
</div>

<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.png"
alt="kadianga electrical products">
<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">LED Panel</a></h3>

</div>

</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/Steel-nails.png"
				alt="kadianga electrical products">
<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">Steel-nails</a></h3>

</div>
</div>
</div>
<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/SocketC.jpg"
				alt="kadianga electrical products">
<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">SocketC</a></h3>

</div>
</div>
</div>


<div class="col-md-8 col-lg-4 ftco-animate">
<div class="product">
<a href="#" class="img-prod"><img class="img-fluid" src="images/Single-Core-Cables.jpg"
				alt="kadianga electrical products">
<!-- <span class="status">10%</span> -->
<div class="overlay"></div>
</a>
<div class="text py-3 pb-4 px-3 text-center">
<h3><a href="#">Single-Core-Cables</a></h3>

</div>
</div>
</div>
</div>
<div class="container">
	<div class="row">
	<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
	<a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.png"
						alt="kadianga electrical products">
		<div class="overlay"></div>
	</a>
	<div class="text py-3 pb-4 px-3 text-center">
		<h3><a href="#">Shower Head</a></h3>
	
	</div>
	</div>
	</div>
	<div class="col-md-8 col-lg-4 ftco-animate">
	<div class="product">
	<a href="#" class="img-prod"><img class="img-fluid" src="images/mebshavel.jpeg"
						alt="kadianga electrical products">
		<div class="overlay"></div>
	</a>
	<div class="text py-3 pb-4 px-3 text-center">
		<h3><a href="#">meb shavel</a></h3>
	
	</div>
	</div>
	</div>
	
	
	<div class="col-md-8 col-lg-4 ftco-animate">
		<div class="product">
						<a href="#" class="img-prod"><img class="img-fluid" src="images/polycaborn.jpeg"
														alt="kadianga electrical products">
										<!-- <span class="status">10%</span> -->
										<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">polycaborn</a></h3>
	
						</div>
		</div>
	</div>
</section>
